*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
h1{
  font-size: 50px;
  text-transform: capitalize;
}
p{
  text-align: justify;
}
img{
  width: 100%;
  height: auto;
  display: block;
}
a{
  text-decoration: none;
}

.name-color{
  color: #FFA500;
}
.area-top{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
}
.top-content{
  width: 45%;
}
.top-margin{
  margin: 40px 0;
}
.top-margin h1:nth-child(2){
  margin: 40px 0;
}
.top-margin p{
  color: #696969;
  margin: 20px 0 15px;
}
.top-margin a{
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(to right, #FF9874 , #FF6C4E);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 800;
}