
/*========
Common CSS
========*/
*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
p{
  text-align: justify;
  color: #696969;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
  display: block;
}
.container-1{
  width: 86%;
  margin: 0 auto;
}
.flexbox{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.content-width{
  width: 46%;
  margin-bottom: 20px;
}
/*==========END==========*/


/*=========
Top Section
=========*/
.top-banner{
  background-image: url(img/top-banner.png);
  background-repeat: no-repeat;
}
.name-color{
  color: #FFA500;
}
.top-content{
  margin-top: 40px;
}
.top-content h1:nth-child(2){
  margin: 40px 0;
}
.top-content p{
  margin: 20px 0 15px;
}
.button-link{
  text-transform: uppercase;
  color: #ffffff;
  background: linear-gradient(to right, #FF9874 , #FF6C4E);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 800;
}
/*==========END==========*/


/*=========
Mid Section
=========*/
.mid-banner{
  background-image: url(img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 20%;
}
.mid-content{
  margin-top: 50px;
}
.mid-content h3{
  margin: 30px 0 15px;
}
.mid-content p{
  margin-bottom: 15px;
}
/*==========END==========*/


/*==========
Last Section
==========*/
.last-banner{
  background-image: url(img/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
}
.last-banner > h2{
  text-align: center;
  margin-bottom: 30px;
}
.container-2{
  width: 90%;
  margin: 0 auto;
 }
 .border-area-left{
  border-left: 7px solid #FF6347;
}
.border-area-right{
  border-left: 7px solid #0000FF;
}
.last-content{
  width: 44%;
  margin-bottom: 150px;
  padding: 30px 15px 130px 30px;
  box-shadow: 5px 5px 20px #696969;
}
.last-content h3{
  margin: 25px 0 15px;
}
/*==========END==========*/


/*============
Footer Section
============*/
.footer-area p{
  padding: 20px 0;
  text-align: center;
}
/*==========END==========*/